scikit-learn
numpy
xgboost
lightgbm
cupy-cuda12x
jax[cpu]
mpi4py
dask[complete]
numexpr
sympy
symengine
pyspark
vaex-core==4.17.0  # ⬅️ USA APENAS O CORE ESTÁVEL
modin[all]
dask-ml
pymc3
cmdstanpy
tensorflow
tensorflow-probability
astropy
biopython
networkit
gmpy2
gplearn
